
/*
* === IMAGE BEHIND THE NAV ===
*/
.parallax{
  background-image: url("../img/img-nav.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  //this makes the background-image fixed on top
  //while the rest of content is moving on while scrolling
  @media only screen and (min-width: 760px) {
    background-attachment: fixed;
    background-position: center;
  }
  .content-over-parallax{
    @include container;
    .title-text{
      margin-top: 10%;
    }
    p{
      color: #ffffff;
    }
    button{
      background-color: transparent;
      border: none;
      color: white;
      text-decoration: underline;
      font-size: 1em;
      margin-bottom: 1rem;
    }
  }
}

/*
* === CONTENT OVER THE PARALLAX ===
*/


/*
* === DIV WITH THE REST OF CONTENT ===
*/
.main-content{
  background-color: white;
}

/*
* === CAROUSEL ===
*/
.gallery {
  .carousel-indicators {
    //sets the back-cl of carouselExampleIndicators
    //overwrites the css of bootstrap
    //li [attribute=value] more specific
    li[data-target~="#carouselExampleIndicators"] {
      background-color: $color-pr-lighten;
    }
    //sets the back-cl of carouselExampleIndicators when is active
    & .active {
      background-color: $color-pr !important;
    }
  }
}



/*
* === div with colored text over ===
*/
.content-with-background{
  background-image: url("../img/suit.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  color: $color-pr-light;
  .title-text{
    @include title-text;
    font-size: 3em;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: -1px;
    word-wrap: break-word;
    margin: 0;
    padding: 0 0 18px;
    color: white;
    font-family: 'Droid Serif',Georgia,Times,serif;
    text-align: center;
  }
  p{
    @include text;
    color: white;
    font-weight: 400;
  }
  .first{
    font-size: 1.1em;
  }
  button{
    font-size: .8rem;
  }
}

/*
* === DIV CONTACT ===
*/
.contact{
  background-image: linear-gradient(grey 90%, white);
  text-align: left;
  //this is add this because if i added on main-content us i suppose to i create a space when i can see the parralax image
  //
  padding-bottom: 10rem;
}
